/* if viewport is equal to or less than 991px */
@media all and (max-width: 991px){
    #projects .card {
        width: 7em;
    }
    #experience .card {
        width: 15em;
    }
    .landing {
        margin-left: 6vw !important;
    }
}

/* if viewport is equal to or less than 767px */
@media all and (max-width: 767px){
    #experience .card {
        width: 6em;
    }
    .landing {
        margin-left: 3vw !important;
    }
}

/* if viewport is equal to or less than 575px */
@media all and (max-width: 575px){
    #projects .card {
        width: 19em;
    }
    #experience .card {
        width: 19em;
    }
    .landing {
        margin-left: 1em !important;
    }
}

/* if viewport is equal to or less than 425px */
@media all and (max-width: 425px){
    .nav-link {
        padding: 0.5em;
    }
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1em;
    }
    .landing {
        margin-top: 1.5em;
        margin-left: 1em !important;
    }
}