html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', Helvetica, sans-serif;
}

/* nav bar */
.header-area .logo {
    padding-top: 0.5em;
    width: 20em;
}

.header-area {
    text-align: center;
}

.header-area .navigation .nav {
    padding-bottom: 0.5rem;
}

.header-area .navigation .nav-item .nav-link {
    text-transform: lowercase;
    font-weight: 800;
    font-size: 20px;
    padding: 1rem;
    padding-top: 0rem;
    color: black;
}

.header-area .navigation .nav-item .nav-link:hover {
    color: grey;
    transition: color 0.6s ease;
}


.nav .active {
    -webkit-text-fill-color: rgb(139, 188, 219);
}

/* site intro */
.main-area .banner .site-intro {
    padding-left: 9rem;
}

.main-area .banner .site-intro h2 {
    padding-top: 7rem;
    margin-bottom: 0;
    font-weight: 700;
}

.main-area .banner .site-intro h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

.main-area .banner .site-intro h4 {
    color: grey;
    font-weight: 700;
}

.main-area .banner .site-intro-pic img {
    padding-bottom: 2rem;
    padding-right: 7rem;
    width: 80rem;
}

.carousel-inner {
    overflow: visible;
}

/* carousel */
.carousel-inner .card {
    width: 65rem;
    height: 30rem;
    margin: auto;
    border-radius:17px;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
}

.button {
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    position: relative;
    border: 4px solid transparent;
    border-radius: 10px;
    background: #c8e6f9;
    background-clip: padding-box;
    transition: background .6s ease;
    margin: 0 4px 0 0;
}

.button:hover {
    background: white;
    background-clip: padding-box;
    color: rgb(99, 183, 216);
}

.button:after {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: rgb(200, 230, 249);
    background-clip: padding-box;
    content: '';
    z-index: -1;
    border: 5px solid rgb(200, 230, 249);
    border-radius: 8px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    font-size: 4rem;
}

.modal-content {
    background-color: rgb(229, 247, 255);
    border: 0px;
    border-radius: 14px;
}

.modal-title {
    font-weight: 700;
}

/* about section */
.about-card {
    background: rgb(229, 247, 255);
}
.about-area {
    padding-left: 7rem;
    padding-top: 2rem;
}
.about-img img {
    width: 21rem;
}

.main-area .about-area h2 {
    font-weight: 800;
    padding-top: 0.5rem;
}

.main-area .about-area p {
    font-size: 18px;
    color: rgb(110, 110, 110);
    width: 80%;
}

.main-area .about-area h2, p {
    padding-left: 1rem;
}

/* skills section*/
.skills-card {
    background: rgb(255, 222, 213);
    padding: 0 2rem;
}

.main-area .skills-area h2{
    font-weight: 800;
}
.main-area .skills-area h4{
    font-weight: 700;
    font-size: 22px;
    padding-top: 0;
}

.main-area .skills-area .card-body {
    background: rgb(255, 240, 237);
    font-size: 20px;
    border-radius: 17px;
    margin: 1rem 0;
    height: 22rem;
}




/* projects section*/
.projects-card {
    background: rgb(229, 247, 255);
}

.projects-area {
    padding: 0rem 3rem;
}

.projects-area .projects-title a {
    color: rgb(113, 144, 209);
}

.projects-area .projects-title a:hover {
    color: grey;
    transition: color 0.6s ease;
    text-decoration: none;
}

.projects {
    background: rgb(200, 235, 253);
    height: 18rem;
    margin-top: 1rem;
    transition: box-shadow .7s ease;
    border-radius: 17px;
    padding: 0.5rem;
}

.projects-area img {
    width: 12rem;
}
.projects-area .card-body {
    padding: 0.5rem 0;
}
.main-area .projects-area h2 {
    font-weight: 800;
}
.main-area .projects-area .projects h5 {
    font-weight: 700;
}
.main-area .projects-area .projects:hover {
    box-shadow: 0px 5px 20px rgb(175, 185, 189);
}


/* footer section */
.main-area .footer-area li {
    display: inline-block;
    margin: 0.5em;
    list-style: none;
}

.main-area .footer-area li a {
    color: rgb(139, 188, 219);
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 3rem;
    transition: all ease-in-out 300ms;
}

.main-area .footer-area li a:hover {
    color: rgb(113, 144, 209);
}

.main-area .footer-area {
    margin-top: 2rem;
}