<div class="panel" data-color="blue">
    <h2 class="vertical-header">&ensp;about&ensp;</h2>
    <div class="card col-sm-9 col-md-9 col-lg-6">
        <h2>Hi, I'm <span class="blue">Jodie Xiang</span>.</h2>
        <h4>Currently, I'm based in <span class="red">Toronto, Canada</span> and
            I’m in my third year studying <span class="red">Computer Science @ UWaterloo</span>.</h4>
        <br>
        <p>I’m a full-stack software engineer with an interest in Human-Computer Interaction.
            I like to ideate, design and build. In my spare time, I can be found sketching and creating digital art
            on my iPad. I am currently in the slow process of teaching myself composition and lighting.
            <br><br>Feel free to download my resume, check out my GitHub, or contact me at jodie.xiang144@gmail.com.
            Always happy to meet new people!</p>
    </div>
</div>