<div class="panel" data-color="red" data-id="experience" id="experience">
    <h2 class="vertical-header">&ensp;experience&ensp;</h2>
    <div class="card-deck">
        <div class="card col-lg-4 col-md-6 col-sm-12">
            <div data-toggle="modal">
                <img class="card-img-top" src="./resources/oanda.jpeg" alt="OANDA">
                <div class="card-body">
                    <h5 class="card-title">OANDA</h5>
                    <p class="card-text">Software Engineer Intern</p>
                    <p class="card-text">Winter 2021</p>
                    <br>
                    <p class="card-text">Toronto, Ontario</p>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none mb-4"><!-- wrap every 1 on md--></div>
        <div class="card col-lg-4 col-md-6 col-sm-12">
            <div data-toggle="modal">
                <img class="card-img-top" src="./resources/pcc.jpeg" alt="PointClickCare">
                <div class="card-body">
                    <h5 class="card-title">PointClickCare</h5>
                    <p class="card-text">Software Engineer Intern</p>
                    <p class="card-text">Summer 2020</p>
                    <br>
                    <p class="card-text">Mississauga, Ontario</p>
                </div>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none mb-4"><!-- wrap every 1 on md--></div>
        <div class="card col-lg-4 col-md-6 col-sm-12">
            <div data-toggle="modal">
                <img class="card-img-top" src="./resources/digitaled.png" alt="DigitalEd">
                <div class="card-body">
                    <h5 class="card-title">DigitalEd</h5>
                    <p class="card-text">QA Analyst Intern</p>
                    <p class="card-text">Summer 2019</p>
                    <br>
                    <p class="card-text">Waterloo, Ontario</p>
                </div>
            </div>
        </div>
    </div>
</div>