<div class="panel" data-color="red" data-id="experience" id="experience">
    <h2 class="vertical-header d-none d-lg-block">&ensp;experience&ensp;</h2>
    <div>
        <div class="header-wrapper d-flex d-lg-none">
            <h2 class="horizontal-header">&ensp;experience&ensp;</h2>
        </div>
        <div class="card-deck mb-4">
            <div class="w-100 d-none d-sm-block d-md-none mb-4"><!-- wrap every 1 on sm--></div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/oanda.jpeg" alt="OANDA">
                    <div class="card-body">
                        <h5 class="card-title">OANDA</h5>
                        <p class="card-text">Software Engineer Intern</p>
                        <p class="card-text">Winter 2021</p>
                        <br>
                        <p class="card-text">Toronto, Ontario</p>
                        <p></p>
                    </div>
                </div>
                <div class="overlay">
                    <h5>OANDA</h5>
                    <h6>Python, Flask, React/Redux, Typescript, Docker</h6>
                    <p>Spearheaded the development of a new Flask microservice for automatic electronic
                        identity (EID) verification, leading the integration with a new third-party EID provider.</p>
                    <p>Updated existing monolithic registration service to integrate with new Flask microservice.</p>
                    <p>Developed new components in React and Formik for a new streamlined registration flow.</p>
                    <p>Implemented a proof of concept for a chatbot in Dialogflow that guides users through client registration
                        in order to improve application completion rates; winner at company hackathon.</p>
                    <p>Resolved production issues in Google Analytics tracking for marketing analysis.</p>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none mb-4"><!-- wrap every 1 on sm--></div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/pcc.jpeg" alt="PointClickCare">
                    <div class="card-body">
                        <h5 class="card-title">PointClickCare</h5>
                        <p class="card-text">Software Engineer Intern</p>
                        <p class="card-text">Summer 2020</p>
                        <br>
                        <p class="card-text">Mississauga, Ontario</p>
                    </div>
                </div>
                <div class="overlay">
                    <h5>PointClickCare</h5>
                    <h6>Java, Spring Boot, Vue.js, MySQL, Cypress, Kotlin</h6>
                    <p>Architected and led the development of a customer-facing tool in Java and Vue.js that enables customers
                        to reconcile partial document matches, increasing the number of results returned in customer searches by 10%.</p>
                    <p>Researched and implemented a REST API for existing Java backend service to integrate with Azure Blob Storage.</p>
                    <p>Developed a solution to resolve an error case where customer details were outdated or missing, speeding up the
                        onboarding process for 20% of the customer base.</p>
                    <p>Validated functionality of both backend and frontend features by writing unit tests in Kotlin and Cypress.</p>
                    <p>Authored queries in KQL for visualization of product metrics for business analysis.</p>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none mb-4"><!-- wrap every 1 on sm--></div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/digitaled.png" alt="DigitalEd">
                    <div class="card-body">
                        <h5 class="card-title">DigitalEd</h5>
                        <p class="card-text">QA Analyst Intern</p>
                        <p class="card-text">Summer 2019</p>
                        <br>
                        <p class="card-text">Waterloo, Ontario</p>
                    </div>
                </div>
                <div class="overlay">
                    <h5>DigitalEd</h5>
                    <h6>Python, Jira</h6>
                    <p>Led and collaborated with a team of five to create a Python script for history-based
                        dynamic test case prioritization and a test case data visualization dashboard
                        for the QA Department, improving the runtime and efficiency of the automated test suite.</p>
                    <p>Identified and tracked 60+ software defects in Jira and supported developers in resolving
                        issues by completing additional tests.</p>
                    <p>Authored, organized, and optimized 50+ test cases to maximize success of manual
                        software testing with consistent and thorough approaches.</p>
                </div>
            </div>
        </div>
    </div>
</div>