<section class="footer">
    <div class="container">
        <div class="d-none d-md-flex justify-content-center">
            <ul>
                <li><a href="resources/Jodie_Xiang_Resume_S21.pdf" target="_blank"><i class="fas fa-file-alt"></i></a></li>
                <li><a href="https://github.com/jodiex" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/jodie-xiang/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="d-none d-md-flex justify-content-center copyright text-center">
            <p>Copyright © Jodie Xiang. All rights reserved.</p>
        </div>
    </div>
</section>