<section class="footer">
    <div class="container">
        <div class="d-flex justify-content-center">
            <ul>
                <li><a href="https://drive.google.com/file/d/1TjiZmFO7nzB2c71vY69wvcwF7IijiK_3/view?usp=sharing" target="_blank"><i class="fas fa-file-alt"></i></a></li>
                <li><a href="https://github.com/jodiex" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/jodie-xiang/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="d-flex justify-content-center copyright text-center">
            <p>Copyright © Jodie Xiang. All rights reserved.</p>
        </div>
    </div>
</section>