<div class="panel" data-color="white" data-id="home" id="home">
    <div class="landing col-lg-6 mr-4">
        <h2>Hey,</h2>
        <h1><span class="highlight">I'm <b>Jodie</b>.</span></h1>
        <h3>Software Engineer passionate about empowering people through technology.</h3>
        <div class="d-flex flex-row flex-wrap">
            <button type="button" class="btn button" onclick="window.open('https:\/\/drive.google.com/file/d/1TjiZmFO7nzB2c71vY69wvcwF7IijiK_3/view?usp=sharing', '_blank');">Resume</button>
            <button type="button" class="btn button" onclick="window.open('https:\/\/github.com/jodiex','_blank');">Github</button>
            <button type="button" class="btn button" onclick="window.open('https:\/\/linkedin.com/in/jodie-xiang/','_blank');">LinkedIn</button>
        </div>
    </div>
    <a href="#about" class="arrow"><span></span></a>
</div>