<div class="navigation">
    <!-- <img src="images/logo.png" class="logo justify-content-center"> -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#experience">Experience</a>
        </li>
    </ul>
</div>