<div class="navigation">
    <!-- <img src="resources/logo.png" class="logo justify-content-center"> -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="#home" id="home-link">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#about" id="about-link">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects" id="projects-link">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#experience" id="experience-link">Experience</a>
        </li>
    </ul>
</div>