<div class="projects panel" data-color="darkblue" data-id="projects" id="projects">
    <h2 class="vertical-header">&ensp;projects&ensp;</h2>
    <div>
        <div class="card-deck mb-4">
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./images/cartpool.png" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Cartpool</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./images/twiddit.png" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Twiddit</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./images/marketeer.png" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Marketeer</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./images/fundbear.png" alt="Project 4">
                    <div class="card-body">
                        <h5 class="card-title">fundbear</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./images/payoff.png" alt="Project 5">
                    <div class="card-body">
                        <h5 class="card-title">payoff</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./images/tetris.png" alt="Project 6">
                    <div class="card-body">
                        <h5 class="card-title">Biquadris</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./images/dijkstras.png" alt="Project 7">
                    <div class="card-body">
                        <h5 class="card-title">Pathfinder</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./images/mealrelief.png" alt="Project 8">
                    <div class="card-body">
                        <h5 class="card-title">MealRelief</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>