<div class="panel" data-color="darkblue" data-id="projects" id="projects">
    <h2 class="vertical-header d-none d-lg-block">&ensp;projects&ensp;</h2>
    <div>
        <div class="header-wrapper d-flex d-lg-none">
            <h2 class="horizontal-header">&ensp;projects&ensp;</h2>
        </div>
        <div class="card-deck mb-4">
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/cartpool.png" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Cartpool</h5>
                    </div>
                </div>
                <div class="overlay">
                    <h6>Cartpool</h6>
                    <p>(Ongoing)</p>
                    <p>A community-driven mobile delivery app connecting residents with local shops</p>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/twiddit.png" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Twiddit</h5>
                    </div>
                </div>
                <div class="overlay">
                    <h6>Twiddit</h6>
                    <p>Node.js, Express.js, React, MongoDB, Redux</p>
                    <p>A social networking and micro-blogging web application where users can post, 
                        like, and reshare messages within user-created communities; inspired by Twitter and Reddit</p>
                    <a href="https://github.com/jodiex/Twiddit" target="_blank">Github</a>
                </div>
            </div>
            <div class="w-100 d-xs-block d-lg-none mb-4"><!-- wrap every 2 on md--></div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/marketeer.png" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Marketeer</h5>
                    </div>
                </div>
                <div class="overlay">
                    <h6>Marketeer</h6>
                    <p>Node.js, Express.js, React, Puppeteer, Firebase</p>
                    <p>An analytics tool that utilizes web scraping to provide competitor analysis for small online businesses</p>
                    <a href="https://github.com/jodiex/Marketeer" target="_blank">Github</a>
                    <a href="https://devpost.com/software/marketeer-e2ygkx" target="_blank">Devpost</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/fundbear.png" alt="Project 4">
                    <div class="card-body">
                        <h5 class="card-title">fundbear</h5>
                    </div>
                </div>
                <div class="overlay">
                    <h6>fundbear</h6>
                    <p>React, MongoDB</p>
                    <p>A web app which simplifies the donation process into an eCommerce-like platform
                        and connects charity organizations and potential donors</p>
                    <a href="https://github.com/jodiex/fundbear" target="_blank">Github</a>
                    <a href="https://ellehacks2020.hackerearth.com/challenges/hackathon/ellehacks-2020/dashboard/1015a4f/submission/fundbear/" target="_blank">HackerEarth</a>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-lg-none"><!-- wrap every 2 on md--></div>
        </div>
        <div class="card-deck">
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/payoff.png" alt="Project 5">
                    <div class="card-body">
                        <h5 class="card-title">payoff</h5>
                    </div>
                </div>
                <div class="overlay">
                    <h6>payoff</h6>
                    <p>HTML/CSS, Node.js, Express.js, Google Vision API, Firebase</p>
                    <p>A dashboard that provides goal tracking and data visualization for the student loan repayment process</p>
                    <a href="https://github.com/jodiex/payoff" target="_blank">Github</a>
                    <a href="https://devpost.com/software/payoff" target="_blank">Devpost</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/tetris.png" alt="Project 6">
                    <div class="card-body">
                        <h5 class="card-title">Biquadris</h5>
                    </div>
                </div>
                <div class="overlay">
                    <h6>Biquadris</h6>
                    <p>C++, X Window System</p>
                    <p>A recreation of the classic game of Tetris with two-player gameplay and special actions,
                        utilizing strong OOP principles and design patterns (MVC, Observer, Factory),
                        complete with a GUI</p>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-lg-none mb-4"><!-- wrap every 2 on md--></div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/dijkstras.png" alt="Project 7">
                    <div class="card-body">
                        <h5 class="card-title">Pathfinder</h5>
                    </div>
                </div>
                <div class="overlay">
                    <h6>Pathfinder</h6>
                    <p>React</p>
                    <p>A web tool which finds and visualizes the shortest path between user-specified 
                        start and destination nodes using Dijkstra's algorithm</p>
                    <a href="https://github.com/jodiex/pathfinder" target="_blank">Github</a>
                </div>
            </div>
            <div class="card col-lg-3 col-md-6 col-sm-12">
                <div>
                    <img class="card-img-top" src="./resources/mealrelief.png" alt="Project 8">
                    <div class="card-body">
                        <h5 class="card-title">MealRelief</h5>
                    </div>
                </div>
                <div class="overlay">
                    <h6>MealRelief</h6>
                    <p>React, Django, Microsoft Azure Maps API</p>
                    <p>A web application which connects low-income individuals with free meals donated
                        by local food providers (restaurants, grocery stores, etc.)</p>
                    <a href="https://github.com/jodiex/MealRelief" target="_blank">Github</a>
                    <a href="https://devpost.com/software/mealrelief-kwn46i" target="_blank">Devpost</a>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-lg-none"><!-- wrap every 2 on md--></div>
        </div>
    </div>
</div>