<div class="projects panel" data-color="darkblue">
    <h2 class="vertical-header">&ensp;projects&ensp;</h2>
    <div>
        <div class="card-deck">
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div data-toggle="modal">
                    <img class="card-img-top" src="./images/dijkstras.png" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Cartpool</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div data-toggle="modal">
                    <img class="card-img-top" src="./images/dijkstras.png" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">Twiddit</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div data-toggle="modal">
                    <img class="card-img-top" src="./images/dijkstras.png" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Marketeer</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div data-toggle="modal">
                    <img class="card-img-top" src="./images/dijkstras.png" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">payoff</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div data-toggle="modal">
                    <img class="card-img-top" src="./images/dijkstras.png" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Biquadris</h5>
                    </div>
                </div>
            </div>
            <div class="card col-lg-4 col-md-6 col-sm-12">
                <div data-toggle="modal">
                    <img class="card-img-top" src="./images/dijkstras.png" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Pathfinder</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>